<div style="border: 1px solid #eee; width: 170px; background-color: #f8f8f8;
        margin: 0 5px 5px 0; border-radius: 4px; padding: 8px; overflow: hidden; margin-top: 8px;">
    <div style="margin-bottom: 8px;">
        <div style="float: right; display: inline-block">{{ amino.code3 }}, {{ amino.code1 }}</div>
        <div style="font-weight: bold">{{ ('aminos.' ~ amino.name)|trans }}</div>
        {% if amino.essential != '0' %}
        {% endif %}
    </div>
    <div style="text-align: center">
        <img src="{{ amino.image }}" style="max-width: 100%"/>
    </div>
</div>
