<div style="border: 1px solid {% if action == 'svg' %}#eee{% else %}#ddd{% endif %};
        width: 170px; background-color: {% if action == 'svg' %}#f8f8f8{% else %}#eee{% endif %};
        margin: 0 5px 5px 0; border-radius: 4px; padding: 8px; overflow: hidden; margin-top: 8px;">
    <div style="margin-bottom: 8px;">
        <div style="float: right; display: inline-block">{{ amino.code3 }}, {{ amino.code1 }}</div>
        <div style="font-weight: bold">{{ ('aminos.' ~ amino.name)|trans }}</div>
        {% if amino.essential != '0' %}
        {% endif %}
    </div>
    <div style="text-align: center">
        <img src="{{ amino.image(action) }}" style="max-width: 100%"/>
    </div>
</div>
