<a href="{{ url('testStart', { 'group' : group } ) }}"{% if group == nextGroup %} class="highlight"{% endif %}
   style="text-align: center;">
    <img src="{{ asset('img/tests/' ~ group ~ '_2.svg') }}">
    <div>{{ name }}</div>
</a>
