{% if run.hasAnswers %}
    <div class="progress{% if big is defined and big %} big{% endif %}">
        <div class="incorrect" style="width: {{ run.percentageIncorrect }}%"></div>
        <div class="correct"   style="width: {{ run.percentageCorrect   }}%"></div>
    </div>
{% endif %}
