{% if levels[group] is not defined %} {% set level = 0 %}
{% else %}                            {% set level = levels[group] %}{% endif %}

<a href="{{ url('testStart', { 'group' : group } ) }}" class="level-{{ level }}">
    <div>{{ name }}</div>
</a>
