{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('overview', { 'param' : ''}) }}">Overview</a><br>
        <a href="{{ url('imgToName') }}">Image to name</a><br>
        <a href="{{ url('nameToImage') }}">Name to image</a><br>
    </div>

    <a href="{{ url('about') }}">About</a>

{% endblock %}
