{% extends 'base.html.twig' %}

{% block body %}

    <div style="display: flex; flex-wrap: wrap; margin-bottom: 12px;">
        <a href="{{ url('overview') }}">Overview</a>
    </div>

    <a href="{{ url('about') }}">About</a>

{% endblock %}
