{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>

    {% include 'lib/_functionalGroup.html.twig' with {
        'rows'    : ['nonPolar1', 'nonPolar2'],
        'name'    : 'sideChains.nonPolar',
        'bgColor' : '#dcecdf',
    } %}
    {% include 'lib/_functionalGroup.html.twig' with {
        'rows'    : ['polar'],
        'name'    : 'sideChains.polar',
        'bgColor' : '#f6ecd9',
    } %}
    {% include 'lib/_functionalGroup.html.twig' with {
        'rows'     : ['electrically'],
        'name'     : 'sideChains.electricallyCharged',
        'bgColor'  : '#e4f1f8',
        'bgColor2' : '#f7e6e5',
    } %}

{% endblock %}
