{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>


    {% for functionalGroup in matrix|keys %}
        <div style="display: flex; flex-wrap: wrap; margin-bottom: 12px;">
            {% for aminoCode in matrix[functionalGroup]['aminos'] %}

                {% include 'lib/_amino.html.twig' with { 'amino' : aminoMap[aminoCode], 'height' : matrix[functionalGroup]['height'] } %}

            {% endfor %}
            <br>
        </div>
    {% endfor %}

{% endblock %}
