{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>


    {% for row in matrix %}
        <div style="display: flex; flex-wrap: wrap; margin-bottom: 12px;">
            {% for key in row|keys %}

                {% include 'lib/_amino.html.twig' with { 'amino' : aminoMap[row[key]] } %}

            {% endfor %}
            <br>
        </div>
    {% endfor %}

{% endblock %}
