{% extends 'base.html.twig' %}

{% set lastTest = run.lastCompletedTest %}
{% set test = run.firstUncompletedTest %}

{% block bodyParam %} onLoad="document.getElementById('answer').focus();"{% endblock %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('testOverview') }}">{{ 'back'|trans }}</a>
    </div>

    <div>

        {% if run.finished %}

            Ergebnis:
            {% include 'lib/_test_progress.html.twig' with { 'big' : true } %}
            <div style="text-align: center">
                <a href="{{ url('testOverview') }}">Weiter</a>
            </div>

        {% else %}
            {% include 'lib/_test_progress.html.twig' %}
            <div style="display: flex;">
                {% include 'lib/_test_answer.html.twig' with { 'test' : lastTest } %}
                {% include 'lib/_test_question.html.twig' with { 'test' : test } %}
            </div>
            <div style="text-align: right; margin-top: 12px;">
                <a href="{{ url('test', { 'runId' : run.id, 'action' : 'stop' } ) }}" style="color: #aaa">Beenden</a>
            </div>

        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function choose(aminoId) {
            document.getElementById('answer').value = aminoId;
            document.getElementById('form').submit();
        }
    </script>
{% endblock %}
