{% extends 'base.html.twig' %}

{% block bodyParam %} onLoad="document.getElementById('answer').focus();"{% endblock %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('testOverview') }}">{{ 'back'|trans }}</a>
    </div>

    <div>
        Sie führen Test run {{ run.id }} aus
    </div>

{% endblock %}
