{% extends 'base.html.twig' %}

{% block bodyParam %} onLoad="document.getElementById('answer').focus();"{% endblock %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>

    <div id="testOverview">
        {% if activeRun is not null %}
            <a href="{{ url('test', { 'runId' : activeRun.id } ) }}" class="highlight">
                <div>
                    {{ 'continueActiveTest'|trans }}
                </div>
            </a><br>
        {% endif %}

        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR_1'  ), 'name' : 'testGroup.unpolar'|trans ~ ' 1'     } %}
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR_2'  ), 'name' : 'testGroup.unpolar'|trans ~ ' 2'     } %}
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR'    ), 'name' : 'testGroup.unpolar'|trans ~ ' 1 + 2' } %}<br>
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_POLAR'        ), 'name' : 'testGroup.polar'  |trans            } %}
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_CHARGED'      ), 'name' : 'testGroup.charged'|trans            } %}
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_POLAR_CHARGED'), 'name' : 'testGroup.polar'  |trans ~ ' + ' ~ 'testGroup.charged'|trans } %}<br>
        {% include 'lib/_test_tile.html.twig' with { 'group' : constant('App\\Constant\\GroupType::GROUP_ALL'          ), 'name' : 'testGroup.all'    |trans            } %}
    </div>

{% endblock %}
