<div style="width: 50%; text-align: center;">
    {% if id != 1 or run.scoreBefore is not null %}
        <div>
            {% set group = 'nonPolar' %}
            {% if run.group == 'polar' or
                run.group == 'polarCharged' %}
                {% set group = 'polar' %}
            {% elseif run.group == 'charged' or
                run.group == 'all' %}
                {% set group = 'charged' %}
            {% endif %}

            {% include 'default/_lib/svg/_tube_' ~ group ~ '.html.twig' %}
        </div>
        {% if id == 1 %}
            <span style="font-size: 0.85rem;">Your last high score:</span><br>
            <span style="font-size: 2rem; margin-top: 12px; display: inline-block">
                {{ run.scoreBefore }}
                %
            </span>
        {% else %}
            <span style="font-size: 0.85rem;">
                {% if run.scoreBefore < run.score %} Your new high score:
                {% else %}                           Your score: {% endif %}
            </span><br>
            <span id="newScoreStyle" style="font-size: 2rem; margin-top: 12px; display: inline-block;
            {% if run.scoreBefore < run.score %} color: #fff;{% endif %}">
                <span id="newScore">
                    {% if run.scoreBefore is not null and run.scoreBefore < run.score %}{{ run.scoreBefore }}{% else %}
                        {{ run.score }}{% endif %}
                </span>
                %
            </span>
        {% endif %}
    {% endif %}
</div>
