<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
<main>
<h2>{{ pageTitle }}</h2>
{% block body %}{% endblock %}

</main>
</body>
</html>
