<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% if pageTitle is defined %}{{ pageTitle }}{% else %}Aminos{% endif %}{% endblock %}</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% block css %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body{% block bodyParam %}{% endblock %}>
<main>
<h2>{% if pageTitle is defined %}{{ pageTitle }}{% else %}Aminos{% endif %}</h2>
{% block body %}{% endblock %}

</main>
</body>
</html>
